<div class="container">
	<div class="row-fluid">

		<div class="span12">
			<h3>Meeting Minutes</h3>
			
			<% if current_user.stripe == nil %>
		
			Please pay your yearly membership dues of $25 to gain access to this page. <p>
				<%= form_tag charges_path do %>
			  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			          data-key='ENV['STRIPE_SECRET']'
			          data-description="1 Year Membership"
			          data-plan="dues"></script>
			<% end %>
		
			<% else %>
			

			<% @notes.reverse.each do |n| %>
			   <ul><%= link_to "#{n.created_at.strftime("%B %Y")}", note_path(n) %></ul>
			<% end %>
			
			<% end %>

		</div>
	</div>
</div>