<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<div class="container">
	<div class="row-fluid">

		<div class="span12">
<h3>Calendar</h3>

<%= raw(event_calendar) %>

<table>
	<tr>
		<td width="40px"><strong>Key:</strong> </td>
		<td width="150px"><li type="square" style="color: #ffcc00">Triangle Alumni</li></td>
		<td width="75px"><li type="square" style="color: #87cefa">UNC</li></td>
		<td width="75px"><li type="square" style="color: #e50000">NCSU</li></td>
	</tr>
</table>

</div>
</div>
</div>
