<div class="span2">
	<ul class="nav nav-tabs nav-stacked">
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "Job Board", jobs_path %></li>
		<li><%= link_to "Post Position", new_job_path %></li>
	</ul>
</div>