<div class="container-fluid">
<div class="row-fluid">
	<div class="span8">
		<div class="row-fluid">
			<div class="span9">
				<center>image here</center>
				<!-- <img src = ".." style="position:absolute; left:0, top:0, width:75%; height:100%;" alt=""> -->
			</div>
			<div class="span3">
				<center>text here</center>
			</div>
		</div>
	</div>
	
	<div class="span4">
		<center>calendar goes here</center>
	</div>

</div>
</div>
<h1>is this working?</h1>