<div class="span2">
	<ul class="nav nav-tabs nav-stacked">
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "Calendar", calendar_path %>
		<li><%= link_to "View Events", events_path %></li>
		<li><%= link_to "Add Event", new_event_path %></li>
	</ul>
</div>