<div class="container">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>1-Year Membership: $25.00</span>
    </label>
  </article>
	<p>
  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key=pk_live_GuSoOIPw3vPkBLpS9EbfOuQN
          data-description="1 Year Membership"
          data-plan="dues"></script>
<% end %>

<small><strong>Note: </strong>Your membership dues are automatically drafted from your card yearly from date of registration.</small>
</div>